* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.fake {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  display: none;
}

.fake::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #295b89;
  opacity: 0.7;
}

.fake::after {
  content: '';
  background-image: url("../img/mode.svg");
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
}

.fake img {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .fake {
    display: block;
  }
}

@media (min-height: 1000px) and (max-width: 1200px) {
  .fake {
    display: block;
  }
}

.main {
  width: 100vw;
  height: 100vh;
}

.main__logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

.main__bg {
  width: 100%;
  height: 100vh;
}

.main__bg img {
  width: 100%;
  height: 100vh;
}

.main__texts {
  position: absolute;
  top: 12%;
  right: 10%;
  z-index: 10;
  width: 500px;
  color: white;
}

@media (max-width: 1200px) {
  .main__texts {
    right: 3%;
  }
}

@media (max-width: 1050px) {
  .main__texts {
    width: 380px;
  }
}

.main__title {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

@media (max-width: 1050px) {
  .main__title {
    font-size: 30px;
  }
}

.main__subtitle {
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 1050px) {
  .main__subtitle {
    font-size: 26px;
  }
}

.main__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media (max-width: 1050px) {
  .main__columns {
    font-size: 13px;
  }
}

.main__number {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: 10%;
  left: 10%;
  width: 16px;
  height: 16px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.main__number:hover {
  font-size: 16px;
}

.main__number:nth-child(1) {
  top: 37%;
  left: 37.6%;
}

.main__number:nth-child(2) {
  top: 29%;
  left: 34.6%;
}

.main__number:nth-child(3) {
  top: 23%;
  left: 29%;
}

.main__number:nth-child(4) {
  top: 59%;
  left: 37.6%;
}

.main__number:nth-child(5) {
  top: 80%;
  left: 27.6%;
}

.main__number:nth-child(6) {
  top: 79%;
  left: 11.6%;
}

.main__number:nth-child(7) {
  top: 51%;
  left: 16.6%;
}

.main__number:nth-child(8) {
  top: 39%;
  left: 16.6%;
}

.main__number:nth-child(9) {
  top: 70%;
  left: 20.6%;
}

.main__number:nth-child(10) {
  top: 89%;
  left: 31.6%;
}

.main__number:nth-child(11) {
  top: 90%;
  left: 15.6%;
}

.main__number:nth-child(12) {
  top: 93%;
  left: 43.6%;
}

.main__number:nth-child(13) {
  top: 89%;
  left: 35.6%;
}

.table {
  background-color: #5c9bd6;
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 500px;
  color: white;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .table {
    right: 3%;
  }
}

@media (max-width: 1050px) {
  .table {
    width: 380px;
    top: 66%;
  }
}

.table__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__item:not(:last-child) {
  margin-bottom: 7px;
}

.table__item_one {
  margin-bottom: 15px !important;
}

.table__number {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.table__number_one {
  width: 25px;
  margin-bottom: 15px;
}

.table__value {
  font-size: 14px;
  color: white;
}
